{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <h1>Dashboard</h1>
  <p>Drag the following button to your bookmarks toolbar to bookmark images from other websites → <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Bookmark it</a></p>
  <p>You can also <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.</p>  
  {% load thumbnail %}
  {% with total_images_created=request.user.images_created.count %}
  <h2>You have bookmarked {{ total_images_created }} image{{ total_images_created|pluralize }}</h2>
  {% endwith %}
  <div id="image-list">
  {% for image in images %} 
    <div class="image_small">
      <a href="{{ image.get_absolute_url }}">
        {% thumbnail image.image 100x100 crop="smart" as im %}
        <a href="{{ image.get_absolute_url }}">
          <img src="{{ im.url }}">
        </a>
      </a>

    </div>
  {% endfor %}  
  </div>
  <h2>What's happening</h2>
  <div id="action-list">
    {% for action in actions %}
      {% include "actions/action/detail.html" %}
    {% endfor %}
  </div>  
{% endblock %}
